.container {
    text-align: center;
}

.wrapper {
    background: rgb(211, 215, 218);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3rem;
}

.paper-class {
    height: 30vmin;
    width: 30vmin;
    background-color: rgb(248, 252, 252);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    text-align: center;
    font-size: 1.5rem;
}

.playground-container{
    display: flex;
    justify-content: space-around;
}

.paper-playground-wrapper {
    background-color: rgb(216, 229, 241);
    padding: 3rem;
    width: 40vmin;
    height: 40vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parameters-wrapper{
    display: flex;
    flex-direction: column;
}

.reset-button{
    margin: 20px;
    background-color: darkseagreen;
    font-size: large;
    padding: 10px;
}

.code-button{
    background-color: cyan;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
}