.container {
    text-align: center;
}

.wrapper {
    background: rgb(211, 215, 218);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3rem;
}

.paper-class {
    height: 30vmin;
    width: 30vmin;
    background-color: rgb(248, 252, 252);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    text-align: center;
    font-size: 1.5rem;
}

.playground-container{
    display: flex;
    justify-content: space-around;
}

.paper-playground-wrapper {
    background-color: rgb(216, 229, 241);
    padding: 3rem;
    width: 40vmin;
    height: 40vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parameters-wrapper{
    display: flex;
    flex-direction: column;
}

.myButton {
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

.myButton:active {
	position:relative;
	top:1px;
}

.code-button {
    margin: 0 20px 20px 20px;
    font-size: large;
    box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
    background-color:#dfbdfa;
    border:1px solid #c584f3;
    text-shadow:0px 1px 0px #9752cc;
}

.code-button:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}

.reset-button{
    margin: 20px;
    font-size: large;
    box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color:#44c767;
    border:1px solid #18ab29;
    text-shadow:0px 1px 0px #2f6627;
}

.reset-button:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}

.code-area{
    position: relative;
}
 
.code-area button{
    position: absolute;
    right: 10px;
    top: 10px;
}
 
.code-area textarea {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
}
